body * { 
    font-family: sans-serif; color: white; text-shadow: 3px 3px 2px #000000;
}
body { 
/*    background-color: Khaki; */
    background: linear-gradient(red, green, blue);    
    background-color: blue;
    background-repeat: no-repeat;
}
.status { font-variant: small-caps; padding: 3px; }
.status.active { font-weight: bold; text-decoration: underline; }
.status.inactive {  }
#status .p2_cows { color: gold; border: solid 2px gold; background-color: transparent;  } 
#status .p1_cows { color: black; border: solid 2px black; background-color: transparent; text-shadow: none; font-weight: bold; }
#status .p2_label * { color: gold; } 
#status .p1_label * { color: black; text-shadow: none; font-weight: bold; }
#status .p1_label *.active { font-weight: 1000%; font-size: 1.1em;  }
#status .p2_label *.inactive { font-size: 90%;  }


/*.status.active:before { content: "*"; }*/

/* TODO black gradient from left
#root {
    margin-top: -1.5em; margin-left: -1em; bottom: 0; 
    background: linear-gradient(to right, black 1%, transparent 90%);
} */    

.intersection {
    border-radius: 2em;
    width: 2.6em;
    height: 2.6em;
}
.game-board { width: 30em; text-align: center; }
.board-row { padding-top: 0.75em; padding-bottom: 0.75em; }
.intersection { margin-left: 1em; margin-right: 1em; position: relative; }
#i9, #i10, #i11 { left: -2.5em; }
#i12, #i13, #i14 { right: -2.5em; }
#i3, #i18 { left: -4.75em; }
#i5, #i20 { left: 4.75em; }
#i0, #i21 { left: -9em; }
#i2, #i23 { left: 9em; }

/* TODO: Fix boardgrid SVG/css */
#root { width: 100%; text-align: center; }
.game-board { width: 100%; text-align: center; }
#boardgrid { position: absolute; margin-top: -23.75em; margin-left: -11.5em; height: 23em; width: 24em; z-index: -1; }
/* #boardgrid { font-size: 118%; } // to match bootstrap if used */

/* cursor indicators */
.board.placing-the-cows, .board.placing-the-cows * { cursor: default; }
.board.moving-the-cows-a, .board.moving-the-cows-a *, .board.flying-the-cows-a, .board.flying-the-cows-a * { cursor: pointer; }
.board.shooting-a-cow, .board.shooting-a-cow * { cursor: crosshair; }
.board.shooting-a-cow, .board.shooting-a-cow * { cursor: crosshair; }

#rules { margin-top: -2em; padding-bottom: 2em; }
#rules a { text-decoration: none; }

.intersection[value="0"] { background-color: grey; /*opacity: 0.5;*/ }
.intersection[value="1"] { background-color: black; border: solid 0.5px black; }
.intersection[value="2"] { background-color: gold; border: solid 1px black; }
.intersection[value="0"]:hover { background-color: darkgrey; }
.active { font-weight: bold; }

.morabutton { background-color: grey; border-radius: 0.5em; font-weight: bold; padding-top: 3px; padding-bottom: 3px; text-variant: small-caps; text-shadow: none; color: brown; }
.morabutton:hover { cursor: pointer; }
#undo { margin-top: 1em; margin-left: -6em; }
#rules { margin-top: -3.75em; margin-left: 6em; }
#message {  font-weight: bold; font-size: 100%; padding-top: 0.5em;}
#message, #message * { color: red; text-shadow:2px 2px 2px #000000, 8px 8px 8px yellow, -8px -8px 8px yellow; }
